/* HEADER */

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

html{
  scroll-behavior: smooth;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(rent-bg.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 75%;
  margin: auto;
  margin-left: 30%;
  padding: 35px 0;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 500px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

.login-btn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.signup-btn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.cover {
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
  color:  white;
}

.product-short-description {
  width: 100%;
  color: #fff;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}

.actual-price {
  margin-left: 20px;
  color: #fff;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 6vw;
  height:  100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%); */
  background: black;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}


/* Search bar */
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(222, 80%, 58%);
  --dark-color: hsl(222, 24%, 8%);
  --title-color: hsl(222, 8%, 8%);
  --text-color-light: hsl(222, 8%, 65%);
  --white-color: #fff;
  --body-color: hsl(222, 100%, 99%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --small-font-size: .813rem;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --small-font-size: .875rem;
  }
}

/*=============== SEARCH ===============*/
.container{
  height: 100vh;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
}

.search{
  position: relative;
  width: 60px;
  height: 60px;
  background-color: var(--white-color);
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, .1) ;
  border-radius: 4rem;
  padding: 10px;
  overflow: hidden;
  transition: width .5s cubic-bezier(.9, 0, .3, .9);
}

.search__input{
  /* background-color: antiquewhite; */
  border: none;
  outline: none;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 14px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}

.search__input:-webkit-autofill{
  box-shadow: 0 0 0 100px var(--white-color) inset;
}

.search__button{
  width: 45px;
  height: 45px;
  background-color: var(--dark-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform .6s cubic-bezier(.9, 0, .3, .9);

}

.search__icon,
.search__close{
  color: var(--white-color);
  font-size: 1.5rem ;
  position: absolute;
  transition: opacity .5s cubic-bezier(.9, 0, .3, .9);

}


.search__close{
  opacity: 0;
}
/* Search animated */

.show-search{
  width: 20%;

}

.show-search .search__input{
  opacity: 1;
  pointer-events: initial;

}

.show-search .search__button{
  transform: rotate(90deg);
}

.show-search .search__icon{
  opacity: 0;
}

.show-search .search__close{
  opacity: 0;
} 
.rent-head{
  transition-delay: 5ms;
  text-decoration: none;
  color: rgba(210, 206, 206, 0.94);
  padding: 0 10px;
  margin-left: 25px;
}



.rent-head:after {
  content: "";
  height: 3px;
  width: 0;
  background-color: white ;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.rent-head:hover{
  color: #009688;
  transition-delay: 1ms;
  transition-duration: 0.5s;

}

.rent-head:hover:after {
  margin-left: 26%;
  width: 50%;
}



/*=============== BREAKPOINTS ===============*/
/* For medium devices */


/* search-bar */

#searchBox {
  background-color: #333;
  width: 50%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  margin-left: 28%;
}

#input {
  background-color: #333;
  width: 80%;
  border: none;
  color: aliceblue;
  outline: none;
  padding: 10px 20px;
  font-size: 20px;
}

#searchBtn {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background:#009688;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.content-container {
  width: 90%;
  color: #fff;
  font-size: 20px;
  padding-top: 20px;
  text-align: justify;
  max-width: 700px;
  margin-top: 20px;
  font-family: sans-serif;
}

/* JavaScript */
mark {
  background:#009688;
}

footer {
  background-color: #33333300;
  overflow: hidden;
}

footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}
